<Server>
<!-- General Settings -->
    <Name>MiServer 3.0</Name>            <!-- name that appears in browser title bar -->
    <Host>localhost</Host>               <!-- Host name (e.g. www.mysite.com) -->
    <Server>MiServer/3.0</Server>        <!-- name that is sent in HTTP response server header field -->
    <ClassName>MiServer</ClassName>      <!-- class name for the core server component -->
    <LogMessageLevel>1</LogMessageLevel> <!-- 0-none -1-all 1-error/important 2-warning 4-informational 8-Transactional -->
    <TempFolder>TempFiles</TempFolder>   <!-- location for temporary files -->
    <Rest>0</Rest>                       <!-- running RESTful web service? -->
    <Production>0</Production>           <!-- 1-running in production mode, 0-development mode (enable debugging framework) --> 
    <IdleTimeOut>0</IdleTimeOut>         <!-- seconds between calls to onIdle server event - 0 means don't call onIdle -->
   
<!-- Communications Settings -->
    <Port>8080</Port>                                <!-- Port that MiServer listens on -->
    <IPVersion>IPv4</IPVersion>                      <!-- TCP/IP version, IPv4, IPv6, or IP to let Conga decide -->
    <UseContentEncoding>1</UseContentEncoding>       <!-- for HTTP compression -->
    <SupportedEncodings>deflate</SupportedEncodings> <!-- name(s) of class(es) that use ContentEncoder interface -->
    <Secure>0</Secure>                               <!-- Running secure? (SSL) if 0, remaining settings below have no meaning -->
    <CertFile></CertFile>                            <!-- Private Certificate file -->
    <KeyFile></KeyFile>                              <!-- Public Key file -->
    <RootCertDir></RootCertDir>                      <!-- Root certificate directory (Conga) -->
    <SSLFlags>96</SSLFlags>                          <!-- SSL flags (Conga) 96 = 32 Accept without validating + 64 Request Client Cert -->

<!-- Page/Request Settings -->
    <Lang>en</Lang>                                     <!-- language setting --> 
    <DefaultPage>index.dyalog</DefaultPage>             <!-- default page to load if none is specified in client request -->
    <DefaultExtension>.dyalog</DefaultExtension>        <!-- default extension for page files -->
    <AllowedHttpCommands>get,post</AllowedHttpCommands> <!-- HTTP commands that we process (for RESTful web services) -->
    <HttpCacheTime>0</HttpCacheTime>                   <!-- minutes to cache static content, 0 = no caching --> 

<!-- Extensions -->
    <SessionHandler>SimpleSessions</SessionHandler>     <!-- name of class to perform session management -->
    <SessionTimeOut>3600</SessionTimeOut>                 <!-- session timeout, in minutes -->
    <Authentication>SimpleAuth</Authentication>         <!-- name of class to perform Basic HTTP authentication -->
    <Logger>Logger</Logger>                             <!-- name of class to perform HTTP request loggin -->

<!-- Error Handling (DrA) Settings -->
    <TrapErrors>0</TrapErrors>    <!-- Valid: 0=Crash, 1=Trap and Log errors -->
    <Debug>2</Debug>              <!-- Valid: 0=No Debug Info, 1=Debug Info, 2=Allow Editing -->
    <MailMethod>NONE</MailMethod> <!-- Valid: SMTP|NET|NONE -->
    <MailRecipient></MailRecipient>
    <SMTP_Gateway></SMTP_Gateway>
</Server>