body {font-family:"Verdana";font-weight:normal;font-size: 12px;color:black;} 
p {font-family:"Verdana";font-weight:normal;color:black;margin-top: -5px}
b {font-family:"Verdana";font-weight:bold;color:black;margin-top: -5px}
H1 { font-family:"Verdana";font-weight:normal;font-size:18pt;color:red }
H2 { font-family:"Verdana";font-weight:normal;font-size:14pt;color:maroon }
pre {font-family:"APL385 Unicode";font-size: 13px}
code {font-family:"APL385 Unicode";font-size: 13px}
td {vertical-align:text-top}
error {font-family:"APL385 Unicode";margin-bottom: 13px;}
.marker {font-weight: bold; color: black;text-decoration: none;}
.version {color: gray;}
.error {font-family:"APL385 Unicode";margin-bottom: 13px;}
.expandable { text-decoration:underline; font-weight:bold; color:navy; cursor:hand; }