/* Global: all transitions equally long*/
#banner, #about {
    transition: 0.25s;
}

* {
    transition: inherit;
}

/* APL font on devices without it */
@font-face {
    font-family: APL385 Unicode;
    src: url(/Styles/apl385.ttf);
}

@font-face {
    font-family: APL333;
    src: url(/Styles/APL333.ttf);
}

/* Body and Wrapper */
body {
    font-family: Verdana;
    margin: 0px;
    min-width: 480px;
}

.bodyblock {
    font-family: Verdana;
    min-height: 150px;
    font-size: 1em;
    position: relative;
}

#banner+.bodyblock {
    padding-top: 80px;
}

/* Banner */
#banner {
    background: black /*rgb(146,89,140)*/;
    box-shadow: 0px 0px 4px 4px black /*rgb(146,89,140)*/;
    color: white;
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 99;
    padding-top: 10px;
    height: 47px;
    float: left;
    padding-bottom: 10px;
}

#banner-logo img {
    width: 53px;
    left: 10px;
    cursor: pointer;
    position: fixed;
}

#banner-logo.hov {
    left: 0;
}

.hov {
    opacity: 0;
}

.hov:hover {
    opacity: 1;
}

#banner-heading {
    float: left;
    padding-left: 70px;
}

#banner-heading h1 {
    margin: 1px;
    font-size: x-large;
}

#banner-heading p {
    margin: 0;
    font-size: small;
}

@media (max-width: 740px) {
    #banner-heading {
        transform: translateX(-220px) scale(0,1)
    }

    #about td:first-child {
        width: calc(100% - 40px) !important;
    }

    #about td {
        display: block;
        width: calc(100% + 200px) !important;
    }
}

@media (max-width: 840px) {
    #banner-heading p {
        transform: translateX(-250px) scale(0,1)
    }
}

#banner-toggle {
    float: right;
    margin-right: 25px;
}

#toggle {
    font-family: Verdana;
    font-weight: bold;
    color: darkorange;
    background: transparent;
    border: none;
    cursor: pointer;
}

#toggle:hover {
    color: wheat;
}

#banner-resources {
    border-radius: 0 0 0 50px;
    right: 0;
    padding-right: 10px;
}

/* Widget Help */
.widgethelp {
    border-radius: 0 0 50px 0;
    left: 0;
    padding-left: 10px;
}

#banner-resources, .widgethelp {
    color: white;
    display: none;
    background-color: black /*rgb(146,89,140)*/;
    box-shadow: 0px 0px 4px 4px black /*rgb(146,89,140)*/;
    transition: none;
    position: fixed;
    width: 200px;
    top: 60px;
}

.widgethelp h3, #banner-resources h3 {
    color: white;
    text-align: center;
}

.widgethelp ul {
    padding: 0px;
    margin-top: 0px;
}

.widgethelp li {
    margin: 0px;
    font-weight: normal;
    padding: 1px;
    list-style: square;
    padding-left: 20px;
}

#banner-dyalog input {
    display: none;
}

#banner-dyalog input:checked ~ #banner-resources {
    display: block;
}

.dyaloglogo {
    height: 30px;
    position: fixed;
    right: 15px;
    top: 20px;
}

/*Template Footer*/
#footer {
    background: #92598C;
    padding: 10px 10px 5px 10px;
    color: white;
    width: 100%;
    font-size: medium;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
    box-shadow: 0px -5px 10px gray;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}

#footertext {
    font-size: .6em;
}

/*Template Content Area Styles*/
#contentblock {
    padding-bottom: 2em;
}

#codeblock {
    display: none;
    overflow-x: scroll;
    margin-left: 235px;
}

#banner-resources ul {
    list-style: none;
    padding-left: 20px;
}

.resource-cat {
    font-weight: bold;
}

#banner-resources li li {
    cursor: pointer;
    font-weight: normal;
    color: darkorange;
}

#banner-resources li li:hover {
    cursor: pointer;
    background: transparent;
    border: none;
    color: wheat;
}

.widgetNs a {
    font-weight: normal;
    color: red;
    text-decoration: none;
    font-size: 70%;
}

/* Utility Styles */
.clear {
    /*An empty "clear: both" style div at the end of a section */
    /*with floating columns is is useful for at the*/
    /*end of a section with floating columns. */
    clear: both;
}

/*General Styles*/
#content {
    margin-left: 30px;
    font-size: .70em;
    padding-bottom: 2em;
}

a:link {
    color: darkorange;
    text-decoration: none;
}

a:visited {
    color: darkorange;
    /* font-weight: bold;
 */
    text-decoration: none;
}

#banner a:hover,.widgethelp a:hover {
    color: black;
    text-shadow: -1px -1px 0 wheat, 1px -1px 0 wheat, -1px 1px 0 wheat, 1px 1px 0 wheat, -1px -0px 0 wheat, 0px -1px 0 wheat, -0px 1px 0 wheat, 1px 0px 0 wheat;
}

a:hover {
    color: black /*rgb(146,89,140) */;
    text-shadow: -1px -1px 0 darkorange, 1px -1px 0 darkorange, -1px 1px 0 darkorange, 1px 1px 0 darkorange, -1px -0px 0 darkorange, 0px -1px 0 darkorange, -0px 1px 0 darkorange, 1px 0px 0 darkorange;
    /* border: 1px solid black; */
    /*text-shadow: 0 0 1px darkorange;*/
}

a:active {
    /* color: #336699;
 */
    /* font-weight: bold;
 */
    text-decoration: none;
}

pre {
    padding: 5px;
    font-family: APL385 Unicode;
    font-size: medium;
    white-space: pre-wrap;
    word-wrap: break-word;
    /* width: 100%; */
}

code, .a385 {
    font-family: APL385 Unicode;
}

.a333 {
    font-family: APL333;
}

td {
    color: #000000;
    font-family: Verdana;
    vertical-align: top;
    padding: 0;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 0px;
}

h3 {
    font-size: 1.1em;
    color: #000000;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

font.value {
    color: darkblue;
    font-weight: bold;
}

font.key {
    color: darkgreen;
    font-weight: bold;
}

font.error {
    color: darkred;
    font-weight: bold;
}

heading1 {
    color: #ffffff;
    font-family: Tahoma;
    font-size: 26px;
    font-weight: normal;
    background-color: #003366;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -30px;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 15px;
    width: 105%;
}

.button {
    background-color: #dcdcdc;
    font-family: Verdana;
    font-size: 1em;
    border-top: #cccccc 1px solid;
    border-bottom: #666666 1px solid;
    border-left: #cccccc 1px solid;
    border-right: #666666 1px solid;
}

.frmheader {
    color: #000000;
    background: #dcdcdc;
    font-family: Verdana;
    font-size: .7em;
    font-weight: normal;
    border-bottom: 1px solid #dcdcdc;
    padding-top: 2px;
    padding-bottom: 2px;
}

.frmtext {
    font-family: Verdana;
    font-size: .7em;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 32px;
}

.frmInput {
    font-family: Verdana;
    font-size: 1em;
}

.intro {
    margin-left: -15px;
}

.leftalign {
    float: left;
}

.rightalign {
    float: right;
    margin-right: 20px;
}

.rightalign img {
    width: 120px;
    height: auto;
}

.exampletable td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.rjust {
    text-align: right;
}

.ljust {
    text-align: left;
}

.cjust {
    text-align: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.external {
    font-weight: normal !important;
    display: inline-block;
}

[data-dyalog-tip]:hover {
    position: relative;
}

[data-dyalog-tip]:hover:after {
    content: attr(data-dyalog-tip);
    font-weight: normal;
    font-size: small;
    text-decoration: none;
    padding: 4px;
    color: black;
    position: absolute;
    left: 0px;
    bottom: 20px;
    white-space: nowrap;
    box-shadow: 0px 0px 4px black;
    background-color: white;
    z-index: 1;
    height: 20px;
    text-shadow: none;
}

#reading, #reading ul, #reading ul li {
    list-style: none;
    padding-left: 10px;
    width: 200px;
    position: relative;
    font-weight: bold;
}

#reading {
    border-left: 1px solid lightgray;
    margin-left: 20px;
    padding-left: 20px;
}

#reading li li::before, #reading li li::after {
    content: "";
    position: absolute;
    left: 0;
}

#reading li li::before {
    border-top: 2px solid #000;
    top: 9px;
    width: 8px;
    height: 0;
}

#reading li li::after {
    border-left: 2px solid #000;
    height: 100%;
    width: 0px;
    top: 2px;
}

#reading li li:last-child::after {
    height: 8px;
}

#about {
    line-height: 200%;
    margin: -10px;
}

#about td {
    padding: 20px;
    width: 33.3%;
}

iframe {
    width: calc(100% - 35px);
    background-color: wheat;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 5px;
    border: none;
    box-shadow: 0px 0px 4px 4px black, inset 0px 0px 4px 4px black;
}

#widgetdoc {
    margin-left: 20px;
    margin-right: 20px;
}
