#SampleTitle {
	margin-top: 0px;
	cursor:pointer
}

#SampleDesc a:hover {
	text-decoration: none;
}

#SampleDesc a:after {
	content: "\27A6"; /* "➦"; */
	padding: 1px 3px 3px 3px;
	background: ThreeDFace;
	color: ButtonText;
	border-radius: 4px;
	border: solid 1px ThreeDLightShadow;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	transition-duration: 0.2s;
	margin-right: 4px;
}

#leftBar {
	padding-right: 8pt;
	border-right: 2px groove;
	width: 200px;
	background-color: inherit;
	height: 100%;
	width: 100%;
}

#midBar {
	width: 100%;
	padding-left: 16px;
	background-color: inherit;
}

#mainSP {
	background-color: inherit;
	height: 450px;
}

#searchfield {
	width: 127px;
}

#contentblock {
	margin: 0;
	padding: 0;
}

.vspace {
	padding-bottom: 10px;
}

.linkbutton {
	background-color: beige;
	padding: 3px;
}

/* SyncFusion Treeview */
.e-treeview .e-text {
	font-size: 12px;
	color: black;
}

.menu {
	padding-left,padding-right: 0;
}

 .cat {
	font-size: 12pt;
	margin: 5px;
}

.menuitem {
	margin-bottom,margin-left: 0px;
	padding-left: 2px;
	cursor: pointer;
}

.menuitem:hover {
	background-color: highlight;
}

.noitems {
	margin: 0px;
	padding: 4px;
	cursor: not-allowed;
}

.framed {
	width: 730px;
	min-height: 200px;
	overflow-y: auto;
}

.iframed {
	width: 730px;
	max-height: 600px;
	min-height: 250px;
	border: none;
	overflow-y: auto;
}

.samplesource {
	overflow-x: auto;
	width: 730px;
}

.listitem {
	margin: 0px;
	padding: 4px 4px 4px 26px;
	text-indent: -22px;
	cursor: pointer;
	box-sizing: border-box;
}

.listitem:before {
	content: "\27A5"; /* "➥"; */
	padding: 1px 2px 1px 2px;
	background: ThreeDFace;
	color: ButtonText;
	border-radius: 4px;
	border: solid 1px ThreeDLightShadow;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	transition-duration: 0.2s;
	margin-right: 4px;
}

.listitem:active:before, #SampleDesc a:active:after {
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background: ThreeDShadow;
	border: solid 1px ThreeDDarkShadow;
}

.listitem:hover:before, #SampleDesc a:hover:after {
	background: ThreeDHighlight;
	border: solid 1px ThreeDFace;
	text-decoration: none;
}

