/* APL font on devices without it */
@font-face {
    font-family: APL385 Unicode;
    src: url(/Styles/apl385.ttf);
}

/* Body and Wrapper */
body {
    font-family: Verdana;
    margin: 0px;
}

.bodyblock {
    font-family: Verdana;
    min-height: 150px;
    font-size: 1em;
    height: 100%;
    padding-top: 120px;
    margin-bottom: 3em;
}

/* Banner */
#banner {
    background: #92598C;
    padding: 20px;
    color: white;
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 5px 10px grey;
    text-shadow: 1px 1px 5px black;
    padding-top: 0px;
}

#bannerimg {
    float: left;
    top : 11px;
    position: relative;
}

#bannertext {
    margin-left: 20px;
    font-size: 1.4em;
    display: inline-block;
}

#bannernav {
    float: right;
    margin-top: 10px;
    margin-right: 40px;
    text-align: right;
    font-size: medium;
    font-family: Verdana;
}

.nav {
    text-decoration: none;
    padding: 10px;
    color: black;
    background: white;
    border-radius: 0 1em 1em 0;
    transition: 0.5s;
    text-shadow: none;
    box-shadow: 1px 1px 5px DarkSlateGray;
    position: relative;
    left: -5px;
}

a.nav:hover, #bannernav select:hover {
    color: white;
    background-color: rgb(235,113,23);
}

#bannernav select {
    padding: 8px;
    border-radius: 1em 0 0 0em;
    margin-top: 20px;
    font-size: medium;
    box-shadow: 1px 1px 5px DarkSlateGray;
    border: none;
    height: 2.45em;
    font-family: Verdana;
    font-weight: bold;
}

#ms30 {
    color: white;
    text-decoration: none;
    font-size: x-large;
    position: relative;
    top: 22px;
}

#MS3 {
    color: rgb(235,113,23);
    font-size: xx-large;
}

#tagline {
    font-size: medium;
    font-style: italic;
    position: relative;
    top: 13px;
}

#bannerimage img {
    padding-top: 4px;
    vertical-align: middle;
    float: left;
    height: 45px;
}

/*Template Footer*/
#footer {
    background: #92598C;
    padding: 10px 10px 5px 10px;
    color: white;
    width: 100%;
    font-size: medium;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px -5px 10px gray;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}

#footertext {
    font-size: .6em;
}

/*Template Content Area Styles*/
#contentblock {
    padding-bottom: 2em;
}

#codeblock {
    font-size: .70em;
    padding-bottom: 2em;
    display: none;
    overflow-x: scroll;
    float: right;
    /* width: 830px; */
}

/* Widget Help */
.widgethelp {
    margin: 10px 0px 10px 0px;
    background-color: #E2BEDF;
    border-radius: 0 5px 5px 0;
    overflow: auto;
    padding: 10px;
    font-size: .8em;
    display: none;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 5px 5px 10px grey;
    position: fixed;
    left: 0;
    border: none;
    font-weight: bold;
}

.widgetNs {
    font-size: 80%;
    font-weight: bolder;
}

.widgethelp ul {
    padding: 0px;
    margin-top: 0px;
}

.widgethelp li {
    margin: 0px;
    padding: 1px;
    font-size: 70%;
    list-style: square;
}

.widgetNs a {
    font-weight: normal;
    color: red;
    text-decoration: none;
    font-size: 70%;
}

/* Utility Styles */
.clear {
    /*An empty "clear: both" style div at the end of a section */
    /*with floating columns is is useful for at the*/
    /*end of a section with floating columns. */
    clear: both;
}

/*General Styles*/
#content {
    margin-left: 30px;
    font-size: .70em;
    padding-bottom: 2em;
}

a:link {
    color: #FF9933;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    /* color: white; */
    /* font-weight: bold; */
    text-decoration: none;
}

a:active {
    color: #336699;
    font-weight: bold;
    text-decoration: none;
}

pre {
    padding: 5px;
    font-family: APL385 Unicode;
    font-size: medium;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-left: 155px;
    width: 100%;
}

code {
    font-family: APL385 Unicode;
}

.apl {
    font-family: APL385 Unicode;
}

td {
    color: #000000;
    font-family: Verdana;
    vertical-align: top;
    padding: 0;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
    border-top: 0px solid #003366;
    margin-left: 0px;
    color: #003366;
}

h3 {
    font-size: 1.1em;
    color: #000000;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

font.value {
    color: darkblue;
    font-weight: bold;
}

font.key {
    color: darkgreen;
    font-weight: bold;
}

font.error {
    color: darkred;
    font-weight: bold;
}

heading1 {
    color: #ffffff;
    font-family: Tahoma;
    font-size: 26px;
    font-weight: normal;
    background-color: #003366;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -30px;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 15px;
    width: 105%;
}

.button {
    background-color: #dcdcdc;
    font-family: Verdana;
    font-size: 1em;
    border-top: #cccccc 1px solid;
    border-bottom: #666666 1px solid;
    border-left: #cccccc 1px solid;
    border-right: #666666 1px solid;
}

.frmheader {
    color: #000000;
    background: #dcdcdc;
    font-family: Verdana;
    font-size: .7em;
    font-weight: normal;
    border-bottom: 1px solid #dcdcdc;
    padding-top: 2px;
    padding-bottom: 2px;
}

.frmtext {
    font-family: Verdana;
    font-size: .7em;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 32px;
}

.frmInput {
    font-family: Verdana;
    font-size: 1em;
}

.intro {
    margin-left: -15px;
}

.leftalign {
    float: left;
}

.rightalign {
    float: right;
    margin-right: 20px;
}

.rightalign img {
    width: 120px;
    height: auto;
}

.exampletable td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.rjust {
    text-align: right;
}

.ljust {
    text-align: left;
}

.cjust {
    text-align: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.external {
    font-weight: normal !important;
    display: inline-block;
}

[tip]:hover {
    position: relative;
}

[tip]:hover:after {
    content: attr(tip);
    font-weight: normal;
    font-size: small;
    text-decoration: none;
    padding: 4px;
    color: black;
    position: absolute;
    left: 0;
    bottom: 150%;
    white-space: nowrap;
    box-shadow: 0px 0px 4px black;
    background-color: white;
}

#reading, #reading ul {
    list-style: none;
    width: 200px;
}

#Dyalog-D {
    height: 16px;
    vertical-align: top;
}
