/* Body and Wrapper */
body {
	color: #000000;
	background-color: black;
	font-family: Verdana;
	margin-top: 0px;
}
#wrapper {
	width: 1000px;
	margin: 10px auto;
}
#bodyblock {
	background-color: #FFFFCC;
}
/* Banner */
#banner {
	background: #660066;
	padding: 10px;
	color: white;
	border-radius: 15px 15px 0px 0px;
}
#bannerimg {
	float: left;
	vertical-align: middle;
}
#bannertext {
	margin-left: 20px;
	font-size: 1.4em;
	display: inline-block;
}
#bannernav {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	text-align:right;
}
.nav {
	padding: 5px 15px;
	background: linear-gradient(rgb(230, 198, 125) 0%, rgb(230, 122, 0) 100%);
	border-radius: 10px;
}
a.nav:link {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
a.nav:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
a.nav:active {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
a.nav:hover {
	color: white;
	font-weight: bold;
	text-decoration: underline;
}
#ms30 {
	font-weight: 700;
}
#tagline {
	font-size: .5em;
	font-style: italic;
}
#bannerimage img {
	padding-top: 4px;
	vertical-align: middle;
	float: left;
	height: 45px;
}
/*Template Content Area Styles*/
#bodyblock {
	height: 100%;
}
#contentblock {
	margin: 10px;
	font-size: .70em;
	padding-bottom: 2em;
}
#codeblock {
	font-size: .70em;
	padding-bottom: 2em;
	display: none;
	overflow-x: scroll;
	float: right;
}
/* Widget Help */
.widgethelp {
	margin: 10px 0px 10px 10px;
	background-color: #FFCC00;
	overflow: auto;
	padding: 2px;
	font-size: 11px;
	display: none;
}
.widgetNs {
	font-size: 13px;
}
.widgethelp ul {
	padding: 0px;
	margin-top: 0px;
}
.widgethelp li {
	margin: 0px;
	padding: 1px;
	font-size: 11px;
	list-style: square;
}
.widgetNs a {
	font-weight: normal;
	color: red;
	text-decoration: none;
	font-size: 11px;
}
/*Template Footer*/
#footer {
	background: #660066;
	padding: 10px;
	color: white;
	border-radius: 0px 0px 15px 15px;
	width: 980px;
	font-size: .6em;
}
#footertext {
	font-size: .6em;
}
#footer a:link {
	color: #336699;
	font-weight: bold;
	text-decoration: none;
}
#footer a:visited {
	color: #336699;
	font-weight: bold;
	text-decoration: none;
}
#footer a:active {
	color: #336699;
	font-weight: bold;
	text-decoration: none;
}
#footer a:hover {
	color: #000000;
	font-weight: bold;
}
/* Utility Styles */
.clear {
	/*An empty "clear: both" style div at the end of a section */
/*with floating columns is is useful for at the*/
/*end of a section with floating columns. */
clear: both;
}
/*General Styles*/
#content {
	margin-left: 30px;
	font-size: .70em;
	padding-bottom: 2em;
} 
a:link {
	color: #FF9933;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: #6699cc;
	font-weight: bold;
	text-decoration: none;
}
a:active {
	color: #336699;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #cc3300;
	font-weight: bold;
	text-decoration: underline;
}
/*
p {
	color: #000000;
	margin-top: 0px;
	margin-bottom: 12px;
	margin-left: 5px;
	font-family: Verdana;
}
*/
pre {
	background-color: #e5e5cc;
	padding: 5px;
	font-family: APL385 Unicode;
	font-size: x-small;
	border: 1px #f0f0e0 solid;
}
code {
	font-family: APL385 Unicode;
}
.apl {
	font-family: APL385 Unicode;
}
td {
	color: #000000;
	font-family: Verdana;
	vertical-align: top;
}
h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
	border-top: 0px solid #003366;
	margin-left: 0px;
	color: #003366;
}
h3 {
	font-size: 1.1em;
	color: #000000;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
font.value {
	color: darkblue;
	font-weight: bold;
}
font.key {
	color: darkgreen;
	font-weight: bold;
}
font.error {
	color: darkred;
	font-weight: bold;
}
heading1 {
	color: #ffffff;
	font-family: Tahoma;
	font-size: 26px;
	font-weight: normal;
	background-color: #003366;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -30px;
	padding-top: 10px;
	padding-bottom: 3px;
	padding-left: 15px;
	width: 105%;
}
.button {
	background-color: #dcdcdc;
	font-family: Verdana;
	font-size: 1em;
	border-top: #cccccc 1px solid;
	border-bottom: #666666 1px solid;
	border-left: #cccccc 1px solid;
	border-right: #666666 1px solid;
}
.frmheader {
	color: #000000;
	background: #dcdcdc;
	font-family: Verdana;
	font-size: .7em;
	font-weight: normal;
	border-bottom: 1px solid #dcdcdc;
	padding-top: 2px;
	padding-bottom: 2px;
}
.frmtext {
	font-family: Verdana;
	font-size: .7em;
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left: 32px;
}
.frmInput {
	font-family: Verdana;
	font-size: 1em;
}
.intro {
	margin-left: -15px;
}
.leftalign {
	float: left;
}
.rightalign {
	float: right;
}
.exampletable td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.rjust {
	text-align: right;
}
.ljust {
	text-align: left;
}
.cjust {
	text-align: center;
}
.centered {
	margin-left: auto;
	margin-right: auto;
}
