@font-face {
font-family: APLFont;
src: url(Apl385.eot);
}
@font-face {
font-family: APLFont;
src: local("APL385 Unicode"), 
url(Apl385.ttf);
}
body {
	background-color:black;
	width: 80%;
	margin: 10px auto;
}
.htmltags {
	font-family: APLFont;
}
.htmltags td {
/*	text-align: center; */
/*	background-color: #FFCC66; */
	width: 100px;
	padding: 5px 10px;
}
.htmltags td input {
    width:90px;
}
.language-apl {
	font-family: APLFont;
}
.odd {
	background-color: #FFEECC;
}
table.api {
border-color:black;
}
.even {
	background-color: #FFAA00;
}
td {
	padding: 4px;
}
